

#contenedor {
    display: table;
    border: 1px solid #000;
    width: 1000px;
    margin: 0 -300px;
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: auto;
    padding: 5px;
}

#contacto div{
    margin-bottom: 150px;
}

.body{
    width: 100px;
    margin: 0 -300px;
}
