/* == Print == */
html {
	background-color: #fafafa;
}
body {
	position: relative;
	box-sizing: border-box;
	min-height: 10in;
	width: 8.4in;
	border-radius: 1px;
	box-shadow: 0 0 1in -.25in rgba(0,0,0,0.5);
	margin: 0 auto;
	padding: .4in .5in;
	background-color: #fff;
}
.wtb-sm {
	display: table;
	width: 100%;
}
.wtb-sm .wtbcaption {
	border: none;
	display: table-caption;
	text-align: center;
	color: #666;
	font-size: 0.85rem;
	font-weight: 600;
	text-shadow: 0 1px 0 #fff;
	padding: 5px 10px;
	border-bottom: none;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.wtb-sm .wtbrow {
	display: table-row;
}
.wtb-sm .wtbbody .wtbcell {
	display: table-cell;
	border: none;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	color: #333333;
	font-weight: 600;
	font-size: 0.75rem;
	height: 23px;
	padding: 0 !important;
	text-align: center;
	text-shadow: 1px -1px 0px rgba(255, 255, 255, 0.9);
	width: 23px;
}
.wtb-sm .wtbbody .wtbcell:last-child {
	border-right: none;
}
.wtb-sm .wtbbody .wtbcell:first-child {
	border-left: none;
}
.wtb-sm .wtbhead {
	display: table-cell;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	color: #666;
	font-size: 0.5rem;
	font-weight: 600;
	padding: 0.5em 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 23px;
}
.wtb-sm .wtbhead:last-child {
	border-right: none;
}
.wtb-sm .wtbhead:first-child {
	border-left: none;
}
.wtbheading .wtbrow .wtbhead {
	border-top-width: 1px;
}
.wtb-sm .wtbheading {
	display: table-header-group;
	font-weight: bold;
	width: 100%;
}
.wtb-sm .wtbfoot {
	display: table-footer-group;
	font-weight: bold;
}
.wtb-sm .wtbbody {
	display: table-row-group;
}
.container {
	max-width: 800px;
}
.container.footer {
	width: 705px;
}
#yearcalendar {
	width: 705px;
	box-sizing: border-box;
}
#yearcalendar.blocklist {
	width: 680px;
}
.yearcalendar .calendar-wrap-sm {
	border-collapse: separate !important;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm span.month {
	font-size: 1em;
	font-weight: 600;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .calrel {
	position: relative;
	height: 23px;
	width: 23px;
	line-height: 23px;
	padding: 0 !important;
	overflow: hidden;
	display: block;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 37px 37px 0 0;
	border-color: transparent transparent transparent transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute;
	left: 0;
	bottom: 1px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .outap {
	/*    background-color: rgba(255, 255, 204,.1);*/
	display: block;
	height: 19px;
	position: absolute;
	left: 0;
	bottom: 18px;
	width: 19px;
	z-index: 868;
	border-bottom-right-radius: 10px;
	line-height: 18px;
	text-decoration: none;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .outap:before {
	content: "\e074";
	font-family: 'Glyphicons Halflings';
	line-height: 18px;
	text-decoration: none;
	font-size: 10px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .retap {
	/*    background-color: rgba(255, 255, 204,.1);*/
	display: block;
	height: 19px;
	position: absolute;
	left: 0;
	bottom: 18px;
	width: 19px;
	z-index: 868;
	border-bottom-right-radius: 10px;
	line-height: 18px;
	text-decoration: none;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .retap:hover {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-o-transition: all .35s ease;
	transition: all .55s ease;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .retap:before {
	content: "\e074";
	font-family: 'Glyphicons Halflings';
	line-height: 18px;
	text-decoration: none;
	font-size: 8px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .cout .retap.p:before {
	content: "";
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 37px 37px;
	border-color: transparent transparent transparent transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute;
	right: 0;
	top: 1px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .intap {
	/*    background-color: rgba(204, 255, 255,.1);*/
	bottom: 2px;
	display: block;
	height: 19px;
	position: absolute;
	right: 0;
	top: 18px;
	width: 19px;
	z-index: 868;
	border-top-left-radius: 10px;
	line-height: 18px;
	text-decoration: none;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .intap:before {
	content: "\e072";
	font-family: 'Glyphicons Halflings';
	line-height: 18px;
	text-decoration: none;
	font-size: 8px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .adtap {
	/*    background-color: rgba(204, 255, 255,.1);*/
	bottom: 2px;
	display: block;
	height: 19px;
	position: absolute;
	right: 0;
	top: 18px;
	width: 19px;
	z-index: 868;
	border-top-left-radius: 3px;
	line-height: 18px;
	text-decoration: none;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .adtap:hover {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-o-transition: all .35s ease;
	transition: all .55s ease;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .adtap:before {
	content: "\e072";
	font-family: 'Glyphicons Halflings';
	line-height: 18px;
	text-decoration: none;
	font-size: 8px;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .chin .adtap.p:before {
	content: "";
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .dtnum {
	height: 23px;
	left: 50%;
	line-height: 23px;
	margin-left: -11px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	width: 23px;
	z-index: 867;
	border-radius: 50%;
	color: #333;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell .dtnum a {
	height: 23px;
	line-height: 23px;
	width: 23px;
	border-radius: 50%;
	display: block;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	color: #333;
	outline: none;
	cursor: default;
}
.yearcalendar .calendar-wrap-sm .wtb-sm .wtbbody .wtbcell.today span.dtnum {
	position: relative;
	z-index: 867;
	display: block;
	position: absolute;
	width: 23px;
	border-radius: 50%;
	border: 1px solid #dbdbdb;
	height: 23px;
	margin-left: -11px;
	margin-top: -12px;
}
.yearcalendar .calendar-wrap-sm .small-calendar tr td.events a {
	display: block;
	line-height: 1.5em;
	width: 1.5em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.45);
	position: relative;
}
.yearcalendar .calendar-wrap-sm .small-calendar tr td.events a:hover {
	background-color: #fff;
	color: #C44B4D;
	text-decoration: none;
}
.yearcalendar .cals-center {
	text-align: center;
}
.yearcalendar .cals-container {
	clear: left;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: -6px;
	width: 800px;
}
.yearcalendar .month-container {
	background-color: #ffffff;
	display: inline-block;
	float: left;
	margin: 5px 5px;
	border-radius: 4px;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
}
.yearcalendar .calnav .calnav-controlwrap {
	display: inline-block;
}
.monthly .yearcalendar .calnav .calnav-controlwrap {
	margin-bottom: 5px !important;
}
.changemonthyear.prev, .changemonthyear.next, .changeyearview.prev, .changeyearview.next, .calnav a.changeyear.prev, .calnav a.changeyear.next {
	display: inline-block;
	font-size: 20px;
	height: 28px;
	line-height: 28px;
	margin: 0;
	color: #666666;
	vertical-align: middle;
}
.calnav-bottom {
	display: none;
}
.yearcalendar .calnav .calnav-controlwrap select {
	font-weight: 600;
}
.yearcalendar .calnav span.year {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	height: 28px;
	line-height: 27px;
	margin: 0 5px 0 5px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
}
.yearcalendar .calnav a:hover {
	color: inherit;
}
.yearcalendar .calnav a i.icon {
	margin: 0;
	text-align: center;
}
#popbkiavanae {
	text-align: center;
	font-weight: 600;
	min-height: 17px;
	min-width: 180px;
}
.yearcalendar .yearlist .calrel, .colorinlist .calrel {
	position: relative;
	height: 24px;
	width: 24px;
	line-height: 24px;
	padding: 0 !important;
	overflow: hidden;
	display: block;
}
.yearcalendar .yearlist .calrel .cout, .colorinlist .calrel .cout {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 23px 23px 0 0;
	border-color: transparent transparent transparent transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute;
	left: 0;
	bottom: 1px;
}
.yearcalendar .yearlist .calrel .chin, .colorinlist .calrel .chin {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 23px 23px;
	border-color: transparent transparent transparent transparent;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	position: absolute;
	right: 0;
	top: 0;
}
.yearcalendar .yearlist .calrel .dtnum {
	border-radius: 50%;
	color: #333;
	height: 23px;
	left: 50%;
	line-height: 23px;
	margin-left: -11px;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	width: 23px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
	z-index: 867;
	font-weight: 705;
	text-align: center;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbbody .wtbcell {
	border: none;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbbody .wtbcell:last-child {
	border-right: none;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbbody .wtbcell:first-child {
	border-left: none;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbhead {
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbhead:last-child {
	border-right: none;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbhead:first-child {
	border-left: none;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbheading .wtbrow .wtbhead {
	border-top-width: 1px;
}
.yearcalendar .month-container.lightbg .wtb-sm .wtbcaption {
	border-color: #ebebeb #ebebeb currentcolor;
}
.calheading.yearly h1 {
	margin-left: -15px;
	margin-right: -15px;
}
.calheading.monthly h1 {
	margin-top: 0;
	margin-bottom: 10px;
}
.monthly h4 {
	color: #666666;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
	font-weight: bold;
}
.monthly .yearcalendar {
	padding-bottom: 30px;
}
.calheading.monthly {
	position: relative;
	margin-left: -10px;
}
.wtbcaption .moncalnum {
	display: none;
	width: 23px;
	height: 23px;
	line-height: 23px;
	color: #f2f2f2;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 30em;
	font-size: 23px;
}
.yearcalendar .card-header .moncalnum {
	display: none;
	width: 23px;
	line-height: 30px;
	color: #f2f2f2;
	border-radius: 30em;
	font-size: 23px;
	font-weight: bold;
	margin-right: -8px;
	margin-top: -6px;
}
button.bkad {
	display: none;
}
a.printbutton {
	display: block;
	font-size: 1.2rem;
	line-height: 1.7;
}
.colorinlist {
	height: 25px;
	width: 26px;
}
.yearcalendar .yearlist .colorinlist .calrel .dtnum {
	line-height: 20px !important;
}
.yearcalendar .card-body, .yearcalendar .card-header {
	padding: .5rem;
}
.yearcalendar .h3.card-title, .yearcalendar h3.card-title {
	font-size: 1rem;
	font-weight: 600;
}
.noprint {
	display: none;
}

@media print {
* {
	-webkit-print-color-adjust: exact;
}
html {
	background: none;
	padding: 0;
}
body {
	box-shadow: none;
	margin: 0;
	zoom: 150%;
}
span:empty, #paymentform {
	display: none;
}
.row, .container, .rowspan, .rowspanx {
	max-width: 705px;
}
footer {
	width: 600px;
}
#yearcalendar {
	width: 705px;
	box-sizing: border-box;
}
#yearcalendar.blocklist {
	width: 670px;
}
.yearcalendar .calnav .calnav-controlwrap select {
	border: none;
	padding-left: 0;
}
@page {
	margin: 0;
	size: 210mm 297mm;
	width: 800px;
	height: 1100px;
	overflow: hidden;
	zoom: 150%;
}
.changemonthyear.prev, .changemonthyear.next, .changeyearview.prev, .changeyearview.next, .calnav a.changeyear.prev, .calnav a.changeyear.next, a.printbutton {
	display: none;
}
}
