@charset "utf-8";
/* CSS Document */

.form-control, .btn, .panel, .modal-content, .dropdown-menu, .alert, .colorprev, .sortablelist li div.dd-holder, .messi, .thinking:after, .badge, .sortablelist li div.dd-holder .colorthumb, select.form-control.setcolorprev, .yearcalendar .calendar-wrap-sm, .yearcalendar .month-container, .wtb-sm .wtbcaption, .wenbs.phrase, .picker__holder, .picker__day, .picker--focused .picker__day--highlighted, .picker__day--highlighted:hover, .picker__day--infocus:hover, .picker__day--outfocus:hover, .picker__footer button, div.colorPicker-palette, div.colorPicker-picker, .label.intd, .restable tr > td .badge, .card, .input-group-text {
	border-radius: 0 !important;
}
.radio input + i:after, .radio-inline input + i:after {
	content: '\e903'
}
.checkbox input + i:after, .checkbox-inline input + i:after {
	content: '\e900';
}
.checkbox input:checked + i:after, .checkbox-inline input:checked + i:after {
	content: '\e901';
}
.radio input:checked + i:after, .radio-inline input:checked + i:after {
	content: '\e904';
}
.card-body .table.table-framed {
	border: 1px solid #ddd;
}